/* SLIDER PROMOCIONES */
.wrapper-cards-between {
  display: flex;
  justify-content: space-between;
}
.bm-card-promo {
  width: 220px;
  height: 100%;
  min-height: 226px;
  text-align: center;
  padding: 0.6rem 1rem;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 6px 6px 15px 0px #0808083c;
}
.bm-card-promo h5 {
  font-size: 1.6rem;
  font-weight: 600;
}
.bm-card-promo span {
  font-size: 3.5rem;
}

/* SLIDER ACTIVO */
.convert-slider .bm-card-promo {
  margin: 0.5rem 2rem 1rem 2rem;
}

/* CARDS AHORRO */
.bm-card-ahorro {
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 100%;
  padding: 2rem;
  border-radius: 25px;
  box-shadow: 6px 6px 15px 0px #0808083c;
}
.bm-card-ahorro h4 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #fff;
}
.bm-card-ahorro p {
  font-size: 1.5rem;
  padding-top: 1rem;
}
.bm-card-ahorro img {
  padding-top: 1.5rem;
}
.bm-card-ahorro [src]:last-child,
.bm-card-ahorro a:last-child {
  margin-top: auto;
  padding-top: 1rem;
}


/* SLIDER PASOS */
#bm-steps{
  background-color: var(--color-section-grey);
  padding: 2rem 0;
}
.bm-card-step {
  width: 240px;
  height: 100%;
  min-height: 240px;
  padding: 1rem;
  border-radius: 25px;
  color: var(--color-blue-main-x);
  background-color: #fff;
  box-shadow: 6px 6px 15px 0px #0808083c;
}
.bm-card-step > * {
  margin-bottom: 0.8rem;
}
.bm-card-step h5 {
  font-size: 1.25rem;
  font-weight: 600;
}
.bm-card-step p {
  font-size: 1rem;
}

/* SLIDER ACTIVO */
.convert-slider .bm-card-step {
  margin: 0.5rem 2rem 1rem 2rem;
}

@media only screen and (min-width: 992px) {
  /* CARD HORIZONTAL */
  .vista-horizontal {
    flex-direction: row;
    align-items: center;
  }
  .vista-horizontal h4 {
    padding-bottom: 0;
    border-bottom: 0;
    border-right: 1px solid #fff;
  }
  .vista-horizontal p,
  .vista-horizontal img {
    padding-top: 0;
    padding-left: 1.5rem;
  }
}
