/* SLIDER PROMOCIONES */
.wrapper-cards-center {
  display: flex;
  justify-content: center;
}
.wrapper-cards-evenly {
  display: flex;
  justify-content: space-evenly;
}
.wrapper-cards-between {
  display: flex;
  justify-content: space-between;
}
.bm-card-promo {
  width: 220px;
  height: 100%;
  min-height: 226px;
  text-align: center;
  padding: 0.6rem 1rem;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 6px 6px 15px 0px #0808083c;
}
.bm-card-promo h5 {
  font-size: 1.6rem;
  font-weight: 600;
}
.bm-card-promo span {
  font-size: 3.5rem;
}

/* SLIDER ACTIVO */
.convert-slider .bm-card-promo {
  margin: 0.5rem 2rem 1rem 2rem;
}
.convert-slider .bm-card-md {
  margin: 0.5rem 2rem 1rem 2rem;
  display: flex !important;
}

/* NUEVAS CARDS NAHUE */
.bm-card-md {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 100%;
  min-height: 250px;
  text-align: center;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 6px 10px 4px #7a7a7a26;
}
.bm-card-md h5 {
  font-size: 24px;
  padding-bottom: 16px;
}
.bm-card-md span {
  font-size: 40px;
  font-weight: 700;
}
.bm-card-md_header {
  border-radius: 12px 12px 0px 0px;
}
.bm-card-md_header *,
.bm-card-md_body * {
  margin: 0;
}
.bm-card-md_header,
.bm-card-md_body {
  padding-top: 16px;
  flex-grow: 1;
}
.bm-card-md_footer {
  flex-grow: 1;
  min-height: 66px;
  max-height: 66px; /* NAHUE VER SI SE HACEN MAS GRANDES */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  background-color: var(--color-navy-main);
  color: #fff;
  border-radius: 0px 0px 12px 12px;
}
.bm-card-md_footer span {
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  text-align: start;
}
/* CARDS AHORRO */
.bm-card-ahorro {
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 100%;
  padding: 2rem;
  border-radius: 25px;
  box-shadow: 6px 6px 15px 0px #0808083c;
}
.bm-card-ahorro h4 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #fff;
}
.bm-card-ahorro p {
  font-size: 1.5rem;
  padding-top: 1rem;
}
.bm-card-ahorro img {
  padding-top: 1.5rem;
}
.bm-card-ahorro [src]:last-child,
.bm-card-ahorro a:last-child {
  margin-top: auto;
  padding-top: 1rem;
}

/* SLIDER PASOS */
#bm-steps {
  background-color: var(--color-section-grey);
  padding: 2rem 0;
}
.bm-card-step {
  width: 240px;
  height: 100%;
  min-height: 240px;
  padding: 1rem;
  border-radius: 25px;
  color: var(--color-blue-main-x);
  background-color: #fff;
  box-shadow: 6px 6px 15px 0px #0808083c;
}
.bm-card-step > * {
  margin-bottom: 0.8rem;
}
.bm-card-step h5 {
  font-size: 1.25rem;
  font-weight: 600;
}
.bm-card-step p {
  font-size: 1rem;
}

/* SLIDER ACTIVO */
.convert-slider .bm-card-step {
  margin: 0.5rem 2rem 1rem 2rem;
}

@media only screen and (min-width: 992px) {
  /* CARD HORIZONTAL */
  .vista-horizontal {
    flex-direction: row;
    align-items: center;
  }
  .vista-horizontal h4 {
    padding-bottom: 0;
    border-bottom: 0;
    border-right: 1px solid #fff;
  }
  .vista-horizontal p,
  .vista-horizontal img {
    padding-top: 0;
    padding-left: 1.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .bm-cards-bg-shape {
    background-image: url(../img/circular-left-shape.svg);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: left 0 top 90px;
  }
}
@media only screen and (min-width: 1400px) {
  .bm-cards-bg-shape {
    background-position: left 0 top 90px;
  }
}
